/* @page {
  margin: 0;
} */

.cards {
  /* display: grid; */
  /* outline: 1px solid #333; */
}
.portrait {
  grid-template-columns: repeat(3, 1fr);
  width: 8.5in;
  height: 11in;
  padding: 0.25in 0.5in;
}
.landscape {
  width: 10.1in;
  height: 7.1in;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: repeat(2, 1fr); */
  /* padding: 0.5in 0.5in; */
}
  .card{float: left;}

@media print {

  /* visible when printed */
  .landscape {
    /* padding:.5in; */
  }
}