.indicator {
  color: white;
  width: 15px;
  height: 15px;
  margin-bottom: 5px;
  margin-left: 2px;
  display: grid;
  transform: rotate(-45deg);
  align-items: center;
  text-align: center;

  em {
    font-style: normal;
    transform: rotate(45deg);
  }

  &.ritual{
    position: absolute;
    margin: 0;
    left: 5px;
    bottom: 5px;
  }

  &.concentration{
    position: absolute;
    margin: 0;
    left: 5px;
    top: 5px;
  }
}
.absolute {
  position: absolute;
}
